* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 20px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 70%;
}

button {
    background-color: blue;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: rgb(68, 68, 119);
}

.return-message {
    background-color: green;
    padding: 8px;
    color: #fff;
    display: none;
    width: 70%;
}

body {
    background-color: black;
}

h1 , h2 {
    color: #fff;
}